.projects-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-project{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 25px;
    width: 30em;
    background-color: white;
}

.image-project{
    width: 100%;
    height: 20em;
    object-fit: contain;
    border-radius: 25px 25px 0 0;
}


.description-project{
    height: 8em;
}

.text-project{
    margin: 0 20px;
}

.text-project h3{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin: 30px 0 0 0;
}

.tags-group{
    height: 100px;
}


.tags-project{
    display: flex; 
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 0 30px 0;
}

.tag-project{
    border: 1px solid black;
    border-radius: 25px;
    padding: 2px 10px;
    font-size: 20px;
}

.links-project{
    display: flex;
    align-items: center;
    margin: 0 0 30px 0;
    justify-content: space-around;
    
}

.live-project{
    border-radius: 50px;
    background-color: white;
    padding: 1rem 2rem;
    font-size: 22px;
}

.links-project img{
    height: 80px;
}

@media all and (max-width:1100px) {
    .card-project{
        width: 40vw;
    }
    .image-project {
       object-fit: fill;
    }
    
    .text-project h3{
        height: 2em;
    }
}

@media all and (max-width:800px) {

    .description-project{
        height: 25vw;
    }
    .text-project h3{
        font-size: 30px;
    }

    .card-project{
        width: 80vw;
    }
    
   
}

@media all and (max-width: 600px) {
    .description-project{
        margin: 5px 0 100px 0!important;
    }
     .text-project p{
        font-size: 22px;
    }
    .card-project{
        width: 92vw;
    }
    .tag-project{
        font-size: 12px;
    }
    .tag-project{
        font-size: 14px;
    }
    .live-project {
        font-size: 18px;
    }
}

@media all and (max-width:400px) {
    .text-project p{
        font-size: 19px;
    }
}

@media all and (max-width:300px) {
    .text-project p{
        font-size: 17px;
    }
}